{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="fw-bold text-danger mb-4">¿Está seguro que desea eliminar al proveedor: {{ object.razon_social }}?</h2>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'proveedores:lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
